<div class="container brain">
    <div class="row">
        <div class="col">
            <h2>Brainsharer Multi-user annotation modalities</h2>
        </div>
    </div>
    <div class="row">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Mode</th>
                <th scope="col">Description</th>
                <th scope="col">Feature</th>
                <th scope="col">Benefit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Individual</th>
                <td>Anatomist creates/edits annotations at own
                    pace but may share afterward</td>
                <td>Create individual annotations,
                    not time-synchronized</td>
                <td>Annotation capability,
                    dissemination to others
                    (publications, reference)</td>
              </tr>
              <tr>
                <th>Team</th>
                <td>Anatomists create/edit annotations [different
                    structures or different sections], store on
                    platform and are aggregated for QC review</td>
                <td>Aggregated individual
                    annotations or "divide and
                    conquer", not time-
                    synchronized</td>
                <td>Productivity Increase</td>
              </tr>
              <tr>
                <th>Instructor</th>
                <td>Single user has create/edit capability but many
                    observers may view annotation creation live</td>
                <td>One-to-many modality, time-
                    synchronized</td>
                <td>Training tool</td>
              </tr>
              <tr>
                <th>Collaboration</th>
                <td>Full create/edit capability by >1 anatomist
                    (Note: May be combined with "view only"
                    observers)</td>
                <td>Many-to-many modality, time-
                    synchronized</td>
                <td>Full collaboration</td>
              </tr>
            </tbody>
          </table>



</div>